html, body{
  width: 100%;
  height: 100%;
}
body{
  margin: 0;
  font-size: 14px;
  font-family: arial, sans-serif;
  color: #555;
  background-color: #f5f5f5;
}
h1,h2,h3,h4,h5{
  margin: 0;
}
a{
  color: #3c9a43;
  text-decoration: none
}
a:hover{
  color: #2d7632;
}
ul{
  margin:0;
  padding:0;
  list-style: none;
}
.clear{
  clear: both;
}
.content{
  width: 980px;
  margin: 0 auto;
}
.btn{
  border-radius: 2px;
  padding: 12px 16px;
  color: white;
  font-size: 16px;
  width: 30%;
  display: inline-block;
  position: relative;
  cursor: pointer;
  text-align: center;
  -webkit-transition: -webkit-transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.btn:hover{
  top: 2px !important;
  opacity: 0.7;
  color: #fff;
}
.btn-buy{
  background-color: #95c530;
  box-shadow: 0px 4px 0px #719627;
  margin-top: 20px;
}
.btn-buy:hover{
  box-shadow: 0px 2px 0px #719627;
}
.top-back{
  width: 100%;
  height: 550px;
  background: url(img/top-back.png);
  background-size: cover;
  background-position: center;
  display: table;
  text-align: center;
}
.top-bar{
  /* IE10 Consumer Preview */
  background-image: -ms-linear-gradient(left, #FF432B 0%, #FCB000 16.6%, #FFE720 33.2%, #51C600 49.8%, #005CE6 66.4%, #7200BD 83.39999999999999%, #EC00C5 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(left, #FF432B 0%, #FCB000 16.6%, #FFE720 33.2%, #51C600 49.8%, #005CE6 66.4%, #7200BD 83.39999999999999%, #EC00C5 100%);
  /* Opera */
  background-image: -o-linear-gradient(left, #FF432B 0%, #FCB000 16.6%, #FFE720 33.2%, #51C600 49.8%, #005CE6 66.4%, #7200BD 83.39999999999999%, #EC00C5 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #FF432B), color-stop(0.166, #FCB000), color-stop(0.332, #FFE720), color-stop(0.498, #51C600), color-stop(0.664, #005CE6), color-stop(0.834, #7200BD), color-stop(1, #EC00C5));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(left, #FF432B 0%, #FCB000 16.6%, #FFE720 33.2%, #51C600 49.8%, #005CE6 66.4%, #7200BD 83.39999999999999%, #EC00C5 100%);
  /* W3C Markup, IE10 Release Preview */
  background-image: linear-gradient(to right, #FF432B 0%, #FCB000 16.6%, #FFE720 33.2%, #51C600 49.8%, #005CE6 66.4%, #7200BD 83.39999999999999%, #EC00C5 100%);
  position: absolute;
  top: 0;
  width: 100%;
  height: 8px;
}
.top-back .logo{
  position: absolute;
  top: 20px;
  left: 25px;
}
.top-back .top-image{
  display: table-cell;
  vertical-align: middle;
}
.top-image img{
  width: 35%;
  min-width: 360px;
}
.top-back .logo img{
  width: 200px;
}
.row{
  position: relative;
  padding: 30px 0px;
}
.row.gback{
  background-color: #3b9942;
}
.main-content h1{
  text-align: center;
  padding-bottom: 30px;
  font-size: 32px;
}
.row h1{
  color: #3b9942;
}
.row.gback h1{
  color: rgba(255,255,255,0.9);
}
.bar{
  position: relative;
  width: 100%;
  height: 42px;
  margin-top:-42px;
}
.bar .back-default{
  height: 34px;
  background-color: #f5f5f5;
}
.bar .back-green{
  height: 34px;
  background-color: #3b9942;
}
.bar-left{
  float:left;
  width: 50%;
  height: 42px;
  padding-right: 45px;
  box-sizing: border-box;
}
.bar-left .inner{
  margin-right: 45px;
  /* IE10 Consumer Preview */
  background-image: -ms-linear-gradient(left, #FF432B 0%, #FCB000 50%, #FFE720 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(left, #FF432B 0%, #FCB000 50%, #FFE720 100%);
  /* Opera */
  background-image: -o-linear-gradient(left, #FF432B 0%, #FCB000 50%, #FFE720 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #FF432B), color-stop(0.5, #FCB000), color-stop(1, #FFE720));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(left, #FF432B 0%, #FCB000 50%, #FFE720 100%);
  /* W3C Markup, IE10 Release Preview */
  background-image: linear-gradient(to right, #FF432B 0%, #FCB000 50%, #FFE720 100%);
  width: 100%;
  height: 8px;
}
.bar-center{
  position: absolute;
  width: 100%;
  text-align: center;
}
.bar-right{
  float:left;
  width: 50%;
  height: 42px;
  padding-left: 45px;
  box-sizing: border-box;
}
.bar-right .inner{
  margin-right: 45px;
  /* IE10 Consumer Preview */
  background-image: -ms-linear-gradient(left, #005CE6 0%, #7200BD 50%, #EC00C5 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(left, #005CE6 0%, #7200BD 50%, #EC00C5 100%);
  /* Opera */
  background-image: -o-linear-gradient(left, #005CE6 0%, #7200BD 50%, #EC00C5 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #005CE6), color-stop(0.5, #7200BD), color-stop(1, #EC00C5));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(left, #005CE6 0%, #7200BD 50%, #EC00C5 100%);
  /* W3C Markup, IE10 Release Preview */
  background-image: linear-gradient(to right, #005CE6 0%, #7200BD 50%, #EC00C5 100%);
  width: 100%;
  height: 8px;
}

.feature .feature-box{
  float: left;
  width: 25%;
}
.feature .feature-box .box-inner{
  padding: 0px 30px;
}
.feature .feature-box img{
  width: 90%;
}
.feature .feature-box p{
  text-align: center;
}

.kind-box{
  float: left;
  width: 33.3%;
}
.kind-box .box-inner{
  padding: 0px 60px;
}
.kind-box .box-inner img{
  width: 100%;
  border: 8px solid rgba(255,255,255,0.8);
  border-radius: 100%;
  box-sizing: border-box;
}
.kind-box .box-inner p{
  text-align: center;
  color: rgba(255,255,255,0.8);
  font-size: 16px;
}

.cameleon-back{
  width: 100%;
  height: 550px;
  background-size: cover;
  background-position: center;
  display:table;
}
.cameleon-back .inner{
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(0,0,0,0.2);
}
.cameleon-back .inner .content{
  padding-bottom: 0px;
}
.cameleon-back .inner .content h1{
  color: #fff;
  font-size: 40px;
  padding-bottom: 0px;
}
.cameleon-back.back1{
  background-image: url(img/cameleon-back1.jpg);
}
.cameleon-back.back2{
  background-image: url(img/cameleon-back2.jpg);
}

.breeding .content{
  text-align: center;
}
.breeding .content p{
  font-size: 16px;
  line-height: 1.8;
  padding:0px 50px;
}
.breeding .content .breeding-box{
  float: left;
  width: 33.3%;
}
.breeding .content .breeding-box .box-inner{
  padding: 20px 50px;
}
.breeding .content .breeding-box .box-inner img{
  width: 100%;
}

.comments{
  display: table;
  border-collapse: separate;
  border-spacing: 35px 0px;
}
.comments .comment{
  display: table-cell;
  width: 33.3%;
  position: relative;

}
.comments .comment .box{
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 4px 0px rgba(45,117,49,0.8);
  position: relative;
}
.comments .comment .box:before{
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  top: 100%;
  left: 50%;
  border: 28px solid transparent;
  border-top: 28px solid rgba(45,117,49,0.8);
  margin-left: -25px;
  }
.comments .comment .box:after{
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  top: 100%;
  left: 50%;
  border: 25px solid transparent;
  border-top: 25px solid #ffffff;
  margin-left: -25px;
  }
.comments .comment .text{
  font-size: 16px;
  line-height: 1.6;
  padding: 20px 20px 70px 20px;
  min-height: 200px;
}
.comments .comment .name{
  position: absolute;
  bottom: 0;
  margin: 0px 0px 20px 20px;
  font-size: 14px;
  color: #999
}
.comments .comment .image{
  margin-top: 45px;
  text-align:center;
}
.comments .comment .image img{
  width: 140px;
  border-radius: 100px;
  border: 6px solid rgba(255,255,255,0.9);
}

.buy{
  padding: 60px 0px;
  text-align: center;
}
.buy .btn{
  margin-top: 0px;
}

.footer{
  background-color: #2d7531;
  position: relative;
  text-align: center;
}
.footer .top-scroll{
  position: absolute;
  width: 100%;
  margin-top: -41px;
}
.footer .top-scroll-image{
  background-image: url(img/top-scroll.png);
  background-repeat: no-repeat;
  display: block;
  width: 70px;
  height: 70px;
  background-size: cover;
  background-position: left;
  border-radius: 100px;
  border: 6px solid #f5f5f5;
  margin: 0 auto;
}
.footer .top-scroll-image:hover{
  background-position: right;
}
.footer .footer-content{
  padding: 60px 0px;
}
.footer .footer-content .footer-item{
  color: rgba(255,255,255,0.6);
  font-size: 12px;
  display: inline-block;
  padding: 10px;
}

@media(max-width: 1000px){
  .content{
    width: auto;
  }
}